<div class='card'>
  <h3 class='card-header bg-primary text-white'>
    {{pageTitle}}
  </h3>
  <div class='card-body'>
    <div class="input-group mb-3">
      <input type="checkbox" [(ngModel)]="filter.mens" (ngModelChange)="filterChange()">Men
      <input type="checkbox" [(ngModel)]="filter.womens" (ngModelChange)="filterChange()">Women
      <input type="checkbox" [(ngModel)]="filter.kids" (ngModelChange)="filterChange()">Kids
    </div>

    <h5 class="card-text">Filtered by: {{listFilter}}</h5>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide':'Show'}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Category</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>
              <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.bikeName' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            </td>
            <td>{{product.bikeName | uppercase}}</td>
            <td>{{product.bikeCode | lowercase | convertToSpaces:'-'}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price | currency: 'EUR' : display: '1.2-2' }}</td>
            <td>
              <app-star-rating [rating]='product.starRating' (notify)='onNotify($event)'></app-star-rating>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
